<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title %>
    </title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/signin.css" />

</head>
<style>
    body {
        background-color: white;
        padding: 0;
    }

    .row {
        margin-right: 0;
        margin-left: 0rem;
    }

    .content {
        width: 100%;
        margin: auto
    }

    .container-body {
        color: black;
        background-color: rgba(255, 255, 255, 0.1);
        border: 0;
        position: relative;
        margin-bottom: 0.24rem;
        overflow: hidden;
    }

    h3 {
        text-align: center;
        margin-bottom: 0.25rem;
    }


    .table-title {
        margin: 0.25rem auto 0.15rem 0.12rem;
        clear: both
    }

    .firstLine {
        border-top: 0.1rem solid #151515;
        border-left: 0.1rem solid #151515;
        border-right: 0.1rem solid #151515;
    }

    .secondLine {
        border-top: 0.1rem solid #151515;
        border-right: 0.1rem solid #151515;
    }

    #table td {
        text-align: center;
    }

    .bottomtable {
        border: 0.1rem solid #151515;
    }

    .width-7 {
        width: 7%;
        position: relative;
    }

    .width-16 {
        width: 16%;
        position: relative;
    }

    .width-13 {
        width: 13%;
        position: relative;
    }

    .width-14 {
        width: 13%;
        position: relative;
    }

    .width-10 {
        width: 10%;
        position: relative;
    }

    .width-15 {
        width: 15%;
        position: relative;
    }

    .width-20 {
        width: 20%;
        position: relative;
    }

    .width-30 {
        width: 30%;
        position: relative;
    }

    .width-35 {
        width: 35%;
        position: relative;
    }

    .width-40 {
        position: relative;
        width: 40%;
    }

    .width-45 {
        position: relative;
        width: 45%;
    }

    .width-55 {
        position: relative;
        width: 55%;
    }

    .width-65 {
        position: relative;
        width: 65%;
    }

    .width-85 {
        position: relative;
        width: 85%;
    }


    table {
        table-layout: fixed;
    }

    td {
        word-break: break-all;
        word-wrap: break-word;
    }

    .contractState {
        width: 15rem;
        height: 15rem;
        position: absolute;
        bottom: 18rem;
        right: 10%;
        z-index: 9999;
    }

    .contractState_Pro {
        width: 12rem;
        height: 12rem;
        position: absolute;
        bottom: 2%;
        right: 10%;
        z-index: 9999;
    }

    .contractState_Pros {
        width: 12rem;
        height: 12rem;
        position: absolute;
        bottom: 2%;
        right: 10%;
        z-index: 9999;
    }
</style>

<body>
    <div class="content">
        <div class="container-body">
            <h3>
                <%= title %>
            </h3>
            <table style="width: 100%;text-align: center;">
                <tr>
                    <td style="width: 8%">甲方：</td>
                    <td style="width: 37%">
                        <%= data.ContractInfo.NameOfPartyB %>
                    </td>
                    <td style="width: 18%">合同号/订单号：</td>
                    <td style="width: 37%">
                        <%= data.ContractInfo.ContractNo %>
                    </td>
                </tr>
                <tr>
                    <td style="width: 8%">乙方：</td>
                    <td style="width: 37%">
                        <% if(data.ContractTemplate&&data.ContractTemplate.NameOfPartyA) { %>
                        <%= data.ContractTemplate.NameOfPartyA %>
                        <% } %>
                    </td>
                    <td style="width: 18%">签订时间：</td>
                    <td style="width: 37%">
                        <% if(data.ContractInfo.ContractState!= '0') { %>
                        <%= data.ContractInfo.addWhen %>
                        <% } %>
                    </td>
                </tr>
            </table>
            <div class="table-title">一：产品名称，型号，数量，金额</div>
            <table cellspacing="0" cellpadding="0" class="test" style="width:100% ;margin-left: 0;text-align: center"
                id="table">
                <tr>
                    <td class="width-85">
                        <table style="width:100% ;margin-left: 0;text-align: center" cellspacing="0" cellpadding="0">
                            <tr>
                                <td class="width-20 secondLine firstLine">商品名称</td>
                                <td class="width-50">
                                    <table style="width:100% ;margin-left: 0;text-align: center" cellspacing="0"
                                        cellpadding="0">
                                        <tr>
                                            <td class="width-35 secondLine">规格</td>
                                            <td class="width-30 secondLine">单价</td>
                                            <td class="width-15 secondLine">数量</td>
                                            <td class="width-20 secondLine">小计</td>

                                        </tr>
                                    </table>
                                </td>
                                <td class="width-15 secondLine">运费</td>
                                <td class="width-15 secondLine">交货期</td>
                            </tr>
                        </table>
                    </td>
                    <td class="width-15 secondLine">总价</td>
                </tr>
                <tr>
                    <td class="width-85">
                        <table style="width:100% ;margin-left: 0;text-align: center" cellspacing="0" cellpadding="0">
                            <%for(var a = 0 ; a < data.GoodsList.length ; a++) {%>
                            <tr>
                                <td class="width-20 secondLine firstLine">
                                    <%= data.GoodsList[a].CategoryName %>
                                </td>
                                <td class="width-50">
                                    <table style="width:100% ;margin-left: 0;text-align: center" cellspacing="0"
                                        cellpadding="0">
                                        <%for(var i = 0 ; i < data.GoodsList[a].product_list.length ; i++) {%>
                                        <tr>
                                            <td class="width-35 secondLine">
                                                <%= data.GoodsList[a].product_list[i].ProductName %>
                                            </td>
                                            <td class="width-30 secondLine">
                                                <%= data.GoodsList[a].product_list[i].ProductPrice %>
                                            </td>
                                            <td class="width-15 secondLine">
                                                <% if(data.GoodsList[a].product_list[i].GoodsSeriesUnit) { %>
                                                <%= data.GoodsList[a].product_list[i].ProductNumber %>
                                                <%= data.GoodsList[a].product_list[i].GoodsSeriesUnit %>
                                                <% }else{ %>
                                                <%= data.GoodsList[a].product_list[i].ProductNumber %>件
                                                <% } %>
                                            </td>
                                            <td class="width-20 secondLine">
                                                <%= (Number(data.GoodsList[a].product_list[i].ProductPrice)*Number(data.GoodsList[a].product_list[i].ProductNumber)).toFixed(2) %>
                                            </td>
                                        </tr>
                                        <%}%>
                                    </table>
                                </td>
                                <td class="width-15 secondLine">
                                    <%= data.GoodsList[a].ShippingFee %>
                                </td>
                                <td class="width-15 secondLine">
                                    <%= data.GoodsList[a].DeliveryDate %>
                                </td>
                            </tr>
                            <%}%>
                        </table>
                    </td>
                    <td class="width-15 secondLine">
                        <%= data.ContractInfo.TotalAmount %>
                    </td>
                </tr>
            </table>
            <table cellspacing="0" cellpadding="0" class="bottomtable"
                style="width:100% ;margin-left: 0;line-height:3rem;">
                <% if(data.ContractInfo.CouponValue!=0) { %>
                <tr>
                    <td style="border-bottom:0.01rem solid #151515;">优惠：
                        <%= data.ContractInfo.CouponValue %>
                    </td>
                </tr>
                <% }%>
                <tr>
                    <td style="border-bottom:0.01rem solid #151515;">合计：
                        <%= data.ContractInfo.ContractAmount %>
                    </td>
                </tr>
            </table>
            <% if(data.ContractTemplate&&data.ContractTemplate.ContractTemplateDetails.length) { %>
            <table style="margin-top:0.4rem;line-height:3rem; ">
                <%for(var s = 0 ; s < data.ContractTemplate.ContractTemplateDetails.length ; s++) {%>
                <tr style="margin-bottom:0.2rem; ">
                    <td>
                        <%= data.ContractTemplate.ContractTemplateDetails[s] %>
                    </td>
                </tr>
                <%}%>
            </table>
            <% } %>
                <table style=" padding-bottom:0.4rem;line-height:3rem;margin-top:0.4rem;width: 100%;text-align: left;border:
                        0.01rem solid #151515 ">
                    <tr>
                        <td style="width: 50% ">甲方</td>
                        <td style="width: 50% ">乙方</td>
                    </tr>
                    <tr>
                        <td style="width: 50% ">单位名称(盖章)：
                            <span>
                                <%= data.ContractInfo.NameOfPartyB %>
                            </span>
                        </td>
                        <td style="width: 50% ">单位名称(盖章)：
                            <span>
                                <% if(data.ContractTemplate&&data.ContractTemplate.NameOfPartyA) { %>
                                <%= data.ContractTemplate.NameOfPartyA %>
                                <% } %>
                            </span>
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 50% ">地址：
                            <span>
                                <%= data.ContractInfo.AddressOfPartyB %>
                            </span>
                        </td>
                        <td style="width: 50% ">地址：
                            <span>
                                <% if(data.ContractTemplate&&data.ContractTemplate.AddressOfPartyA) { %>
                                <%= data.ContractTemplate.AddressOfPartyA %>
                                <% } %>
                            </span>
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 50% ">法人代表：
                            <span>
                                <%= data.ContractInfo.LegalOfPartyB %>
                            </span>
                        </td>
                        <td style="width: 50% ">法人代表：
                            <span>
                                <% if(data.ContractTemplate&&data.ContractTemplate.LegalOfPartyA) { %>
                                <%= data.ContractTemplate.LegalOfPartyA %>
                                <% } %>
                            </span>
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 50% ">委托代理人：
                            <span>
                                <%= data.ContractInfo.AgenterOfPartyB %>
                            </span>
                        </td>
                        <td style="width: 50% ">委托代理人：
                            <span>
                                <% if(data.ContractTemplate&&data.ContractTemplate.AgenterOfPartyA) { %>
                                <%= data.ContractTemplate.AgenterOfPartyA %>
                                <% } %>
                            </span>
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 50% ">电话：
                            <span>
                                <%= data.ContractInfo.TelOfPartyB %>
                            </span>
                        </td>
                        <td style="width: 50% ">电话：
                            <span>
                                <% if(data.ContractTemplate&&data.ContractTemplate.TelOfPartyA) { %>
                                <%= data.ContractTemplate.TelOfPartyA %>
                                <% } %>
                            </span>
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 50% ">传真：
                            <span>
                                <%= data.ContractInfo.FaxOfPartyB %>
                            </span>
                        </td>
                        <td style="width: 50% ">传真：
                            <span>
                                <% if(data.ContractTemplate&&data.ContractTemplate.FaxOfPartyA) { %>
                                <%= data.ContractTemplate.FaxOfPartyA %>
                                <% } %>
                            </span>
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 50% ">开户银行：
                            <span>
                                <%= data.ContractInfo.BankOfPartyB %>
                            </span>
                        </td>
                        <td style="width: 50% ">开户银行：
                            <span>
                                <% if(data.ContractTemplate&&data.ContractTemplate.BankOfPartyA) { %>
                                <%= data.ContractTemplate.BankOfPartyA %>
                                <% } %>
                            </span>
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 50% ">账号：
                            <span>
                                <%= data.ContractInfo.AccountOfPartyB %>
                            </span>
                        </td>
                        <td style="width: 50% ">账号：
                            <span>
                                <% if(data.ContractTemplate&&data.ContractTemplate.AccountOfPartyA) { %>
                                <%= data.ContractTemplate.AccountOfPartyA %>
                                <% } %>
                            </span>
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 50% ">税号：
                            <span>
                                <%= data.ContractInfo.TaxOfPartyB %>
                            </span>
                        </td>
                        <td style="width: 50% ">税号：
                            <span>
                                <% if(data.ContractTemplate&&data.ContractTemplate.TaxOfPartyA) { %>
                                <%= data.ContractTemplate.TaxOfPartyA %>
                                <% } %>
                            </span>
                        </td>
                    </tr>
                </table>
                <% if(data.ContractInfo.ContractState>0) { %>
                <div class="contractState">
                    <img alt="" style="width:100%;" src=<%=data.ContractTemplate.TemplatePhoto %>>
                </div>
                <% }%>
                <div style="width:100%;text-align: center; ">第1页</div>
        </div>
    </div>
    <% if(data.technologys.length){%>
    <%for(var ti = 0 ; ti < data.technologys.length; ti++) {%>
    <p style="page-break-after:always; text-align: center"></p>
    <% if(data.technologys&&data.technologys[ti].Template.length){%>
    <div class="content">
        <div class="container-body">
            <h3>技术协议</h3>
            <table style="width: 100%;text-align: center;">
                <tr>
                    <td style="width: 8%">甲方：</td>
                    <td style="width: 37%">
                        <%= data.ContractInfo.NameOfPartyB %>
                    </td>
                    <td style="width: 18%">合同号/订单号：</td>
                    <td style="width: 37%">
                        <%= data.ContractInfo.ContractNo %>
                    </td>
                </tr>
                <tr>
                    <td style="width: 8%">乙方：</td>
                    <td style="width: 37%">
                        <% if(data.ContractTemplate&&data.ContractTemplate.NameOfPartyA) { %>
                        <%= data.ContractTemplate.NameOfPartyA %>
                        <% } %>
                    </td>
                    <td style="width: 18%">签订方式：</td>
                    <td style="width: 37%">传真/扫描</td>
                </tr>
            </table>
            <table border="1" cellspacing="0" cellpadding="0"
                style="width:100% ;margin-left: 0;text-align: center;line-height:4rem;">
                <tr>
                    <td style="width:25%;">型号</td>
                    <td style="width:75%;">
                        <span>
                            <%= data.GoodsList[ti].GoodsName %>
                        </span>
                    </td>
                </tr>
                <% data.technologys[ti].Template.forEach(function(item){%>
                <tr>
                    <td style="width:25%;">
                        <%= item.TechnicalParameters %>
                    </td>
                    <% if(item.CheckStyle==1) { %>
                    <td style="width:75%;">
                        <% item.Parameters.forEach(function(items){%>
                        <% if(items.ParameterKey==item.value) { %>
                        <input type="checkbox"
                            name='<%= item.TechnicalParameters+'pid:'+data.technologys[ti].ProductId %>' checked
                            id='<%= item.CheckStyle %>' onchange="checkboxChange(this)" style="margin:0 0.15rem;"
                            value=<%=items.ParameterKey%>>
                        <% } else  { %>
                        <input type="checkbox"
                            name='<%= item.TechnicalParameters +'pid:'+data.technologys[ti].ProductId%>'
                            id='<%= item.CheckStyle %>' style="margin:0 0.15rem;" onchange="checkboxChange(this)"
                            value=<%=items.ParameterKey%>>
                        <% } %>
                        <%= items.ParameterKey %>
                        <% }) %>
                    </td>
                    <% } else  { %>
                    <% if(item.TechnicalParameters=="其他要求") { %>
                    <td style="width:75%;">
                        <textarea rows="3" name='<%= item.TechnicalParameters+'pid:'+data.technologys[ti].ProductId%>'
                            onchange="inputtext(this)"
                            style="width: 80%;border:0;padding: 0;"><%=item.value%></textarea>
                    </td>
                    <% } else  { %>
                    <td style="width:75%;">
                        <input id='<%= item.CheckStyle %>' type="text"
                            name='<%= item.TechnicalParameters +'pid:'+data.technologys[ti].ProductId%>'
                            onchange="inputtext(this)"
                            style="text-align: center;width:75%;height:30px;border:0;margin:10px;padding:0;"
                            value=<%=item.value%>>
                    </td>
                    <% } %>
                    <% } %>

                </tr>
                <% }) %>
            </table>
            <table
                style=" padding-bottom:0.4rem;line-height:3rem;margin-top:0.4rem;width: 100%;text-align: left;border: 0.01rem solid #151515;">
                <tr>
                    <td style="width: 50%" style="text-align: center">甲方</td>
                    <td style="width: 50%" style="text-align: center">乙方</td>
                </tr>
                <tr>
                    <td style="width: 50% ">单位名称(盖章)：
                        <span>
                            <%= data.ContractInfo.NameOfPartyB %>
                        </span>
                    </td>
                    <td style="width: 50% ">单位名称(盖章)：
                        <span>
                            <% if(data.ContractTemplate&&data.ContractTemplate.NameOfPartyA) { %>
                            <%= data.ContractTemplate.NameOfPartyA %>
                            <% } %>
                        </span>
                    </td>
                </tr>
                <tr>
                    <td style="width: 50% ">委托代理人：
                        <span>
                            <%= data.ContractInfo.AgenterOfPartyB %>
                        </span>
                    </td>
                    <td style="width: 50% ">委托代理人：
                        <span>
                            <% if(data.ContractTemplate&&data.ContractTemplate.AgenterOfPartyA) { %>
                            <%= data.ContractTemplate.AgenterOfPartyA %>
                            <% } %>
                        </span>
                    </td>
                </tr>
                <tr>
                    <td style="width: 50% ">电话：
                        <span>
                            <%= data.ContractInfo.TelOfPartyB %>
                        </span>
                    </td>
                    <td style="width: 50% ">电话：
                        <span>
                            <% if(data.ContractTemplate&&data.ContractTemplate.TelOfPartyA) { %>
                            <%= data.ContractTemplate.TelOfPartyA %>
                            <% } %>
                        </span>
                    </td>
                </tr>
            </table>
            <% if(data.ContractInfo.ContractState>0) { %>
            <div class="contractState_Pro">
                <img style="width:100%;" src=<%=data.ContractTemplate.TemplatePhoto %>>
            </div>
            <% }%>
            <div style="width:100%;text-align: center;">第
                <%= ti+2 %>页
            </div>
        </div>
    </div>
    <% }else{%>
    <div class="content">
        <div class="container-body">
            <h3>该合同商品暂时没有技术协议</h3>
        </div>
    </div>
    <div style="width:100%;text-align: center;">第
        <%= ti+2 %>页
    </div>
    <% }%>
    <% if(ti < data.technologys.length-1){%>
    <p style="page-break-after:always; text-align: center"></p>
    <%}%>
    <%}%>
    <% }%>
    <% if(data.Attachment) { %>
    <p style="page-break-after:always; text-align: center"></p>
    <div class="content">
        <div class="container-body">
            <h3>
                合同补充附件
            </h3>
            <table style="width: 100%;text-align:left;">
                <tr>
                    <td style="width: 50%">甲方：
                        <%= data.ContractInfo.NameOfPartyB %>
                    </td>
                    <td style="width: 50%">乙方：
                        <% if(data.ContractTemplate&&data.ContractTemplate.NameOfPartyA) { %>
                        <%= data.ContractTemplate.NameOfPartyA %>
                        <% } %>
                    </td>
                </tr>
                <tr>
                    <td style="width: 50%">签订时间：
                        <% if(data.ContractInfo.ContractState!= '0') { %>
                        <%= data.ContractInfo.addWhen %>
                        <% } %>
                    </td>
                </tr>
            </table>
            <table style="width: 100%;text-align: center;margin-top:1.5rem;">
                <tr>
                    <td style="width: 100%;text-indent:18px;text-align:left;">
                        甲乙双方于
                        <%= data.ContractInfo.AddWhen %>签订了销售合同（合同号：
                        <%= data.ContractInfo.ContractNo %>，下称“原合同” ）。甲乙双方经过充分协商，对原合同内容作出如下变更，并由双方共同遵守：
                    </td>
                </tr>
            </table>
            <table style="width: 100%;text-align:center;margin-top:1.5rem;">
                <tr>
                    <td style="width: 30%;text-align:left;text-indent:18px">
                        详情如下：
                    </td>
                </tr>
                <%for(var as = 0 ; as < data.Attachments.length; as++) {%>
                <tr>
                    <td style="width: 100%;text-align:left;text-indent:18px">
                        <span>
                            <%= data.Attachments[as] %>
                        </span>
                    </td>
                </tr>
                <%}%>
            </table>
            <table style="width: 100%;margin-top:1.5rem;">
                <tr>
                    <td style="width: 100%;text-indent:18px;text-align:left;">
                        本附件是原合同不可分割的组成部分，与原合同具有同等法律效力。除本附件变更的内容外，原合同中的其他条款仍然适用，对双方有约束力。
                    </td>
                </tr>
            </table>
            <table style=" padding-bottom:0.4rem;line-height:3rem;margin-top:0.4rem;width: 100%;text-align: left;border:
                                                                    0.01rem solid #151515 ">
                <tr>
                    <td style="width: 50% ">甲方</td>
                    <td style="width: 50% ">乙方</td>
                </tr>
                <tr>
                    <td style="width: 50% ">单位名称(盖章)：
                        <span>
                            <%= data.ContractInfo.NameOfPartyB %>
                </span>
                </td>
                <td style="width: 50% ">单位名称(盖章)：
                    <span>
                        <% if(data.ContractTemplate&&data.ContractTemplate.NameOfPartyA) { %>
                        <%= data.ContractTemplate.NameOfPartyA %>
                        <% } %>
                    </span>
                </td>
                </tr>
                <tr>
                    <td style="width: 50% ">地址：
                        <span>
                            <%= data.ContractInfo.AddressOfPartyB %>
                        </span>
                    </td>
                    <td style="width: 50% ">地址：
                        <span>
                            <% if(data.ContractTemplate&&data.ContractTemplate.AddressOfPartyA) { %>
                            <%= data.ContractTemplate.AddressOfPartyA %>
                            <% } %>
                        </span>
                    </td>
                </tr>
                <tr>
                    <td style="width: 50% ">法人代表：
                        <span>
                            <%= data.ContractInfo.LegalOfPartyB %>
                        </span>
                    </td>
                    <td style="width: 50% ">法人代表：
                        <span>
                            <% if(data.ContractTemplate&&data.ContractTemplate.LegalOfPartyA) { %>
                            <%= data.ContractTemplate.LegalOfPartyA %>
                            <% } %>
                        </span>
                    </td>
                </tr>
                <tr>
                    <td style="width: 50% ">委托代理人：
                        <span>
                            <%= data.ContractInfo.AgenterOfPartyB %>
                        </span>
                    </td>
                    <td style="width: 50% ">委托代理人：
                        <span>
                            <% if(data.ContractTemplate&&data.ContractTemplate.AgenterOfPartyA) { %>
                            <%= data.ContractTemplate.AgenterOfPartyA %>
                            <% } %>
                        </span>
                    </td>
                </tr>
                <tr>
                    <td style="width: 50% ">电话：
                        <span>
                            <%= data.ContractInfo.TelOfPartyB %>
                        </span>
                    </td>
                    <td style="width: 50% ">电话：
                        <span>
                            <% if(data.ContractTemplate&&data.ContractTemplate.TelOfPartyA) { %>
                            <%= data.ContractTemplate.TelOfPartyA %>
                            <% } %>
                        </span>
                    </td>
                </tr>
                <tr>
                    <td style="width: 50% ">传真：
                        <span>
                            <%= data.ContractInfo.FaxOfPartyB %>
                        </span>
                    </td>
                    <td style="width: 50% ">传真：
                        <span>
                            <% if(data.ContractTemplate&&data.ContractTemplate.FaxOfPartyA) { %>
                            <%= data.ContractTemplate.FaxOfPartyA %>
                            <% } %>
                        </span>
                    </td>
                </tr>
                <tr>
                    <td style="width: 50% ">开户银行：
                        <span>
                            <%= data.ContractInfo.BankOfPartyB %>
                        </span>
                    </td>
                    <td style="width: 50% ">开户银行：
                        <span>
                            <% if(data.ContractTemplate&&data.ContractTemplate.BankOfPartyA) { %>
                            <%= data.ContractTemplate.BankOfPartyA %>
                            <% } %>
                        </span>
                    </td>
                </tr>
                <tr>
                    <td style="width: 50% ">账号：
                        <span>
                            <%= data.ContractInfo.AccountOfPartyB %>
                        </span>
                    </td>
                    <td style="width: 50% ">账号：
                        <span>
                            <% if(data.ContractTemplate&&data.ContractTemplate.AccountOfPartyA) { %>
                            <%= data.ContractTemplate.AccountOfPartyA %>
                            <% } %>
                        </span>
                    </td>
                </tr>
                <tr>
                    <td style="width: 50% ">税号：
                        <span>
                            <%= data.ContractInfo.TaxOfPartyB %>
                        </span>
                    </td>
                    <td style="width: 50% ">税号：
                        <span>
                            <% if(data.ContractTemplate&&data.ContractTemplate.TaxOfPartyA) { %>
                            <%= data.ContractTemplate.TaxOfPartyA %>
                            <% } %>
                        </span>
                    </td>
                </tr>
            </table>
            <% if(data.ContractInfo.ContractState>0) { %>
            <div class="contractState_Pros">
                <img alt="" style="width:100%;" src=<%=data.ContractTemplate.TemplatePhoto %>>
            </div>
            <% }%>
        </div>
    </div>
    <% }%>
    <% if(data.ContractInfo.ContractState==0&&btnShow) { %>
    <button type="button" onclick="submit()"
        style="color:white;background-color:#00CCFF;width:100%;height:4rem;text-align:center;margin-top:0.5rem;border-radius:15px;">确认签订</button>
    <% }%>

</body>

</html>
<script type="text/javascript " src="/javascripts/jquery.js "></script>
<script>
    var CheckBox = [];
    function submit() {
        let cid = window.location.href.substring(window.location.href.indexOf('indcont') + 8, window.location.href.lastIndexOf("\/"));
        $.ajax({
            url: "/indcont/getnew/" + cid,
            success: function (data) {
                $.ajax({
                    type: "POST",
                    url: "/indcont/getcheck/" + cid,
                    data: JSON.stringify(CheckBox),
                    dataType: 'json',
                    contentType: 'application/json;charset=utf-8',
                    success: function (data) {
                        if (data.ResultCode == 0) {
                            $.ajax({
                                url: "/indcont/sign/" + cid,
                                success: function (data) {
                                    var Msg = { Info: JSON.parse(data).ResultInfo };
                                    console.log(JSON.parse(data));
                                    if (window.parent) {
                                        window.parent.postMessage(Msg, '*');
                                    }
                                    alert(JSON.parse(data).Data);
                                    $('button')[0].disabled = true;
                                },
                                error: function (data) {
                                    // alert('签订合同失败');
                                },
                            });
                        } else {
                            // alert(data);
                        }
                    },
                    error: function (data) {
                        // alert('技术协议提交失败');
                    },
                });
            },
            error: function (data) {
                // alert('技术协议刷新失败');
            },
        });
    }
    // $(() => {
    //     for (let e of $('input')) {
    //         e.disabled = true;
    //     }
    // });
    if (window.screen.width >= 1000) {
        var offWidth = 10;
    } else {
        var offWidth = window.screen.width / 50;
    }
    document.getElementsByTagName("html")[0].style.fontSize = offWidth + 'px';

    function checkboxChange(e) {
        for (let i = 0; i < $(e).siblings().length; i++) {
            const es = $(e).siblings()[i];
            es.checked = false;
        }
        if (CheckBox.length) {
            for (let i = 0; i < CheckBox.length; i++) {
                const cs = CheckBox[i];
                if (cs.TechnicalParameters == e.name.substring(0, e.name.indexOf('pid:')) &&
                    cs.ProductId == e.name.substring(e.name.indexOf('pid:') + 4)) {
                    CheckBox.splice(CheckBox.indexOf(cs), 1);
                }
            }
        }
        if (e.checked) {
            CheckBox.push({
                ProductId: e.name.substring(e.name.indexOf('pid:') + 4),
                TechnicalParameters: e.name.substring(0, e.name.indexOf('pid:')),
                value: e.value,
                checked: true,
            });
        } else {
            CheckBox.push({
                ProductId: e.name.substring(e.name.indexOf('pid:') + 4),
                TechnicalParameters: e.name.substring(0, e.name.indexOf('pid:')),
                value: '',
                checked: true,
            });
        }
    }
    function inputtext(e) {
        if (CheckBox.length) {
            for (let i = 0; i < CheckBox.length; i++) {
                const cs = CheckBox[i];
                if (cs.TechnicalParameters == e.name.substring(0, e.name.indexOf('pid:')) &&
                    cs.ProductId == e.name.substring(e.name.indexOf('pid:') + 4)) {
                    CheckBox.splice(CheckBox.indexOf(cs), 1);
                }

            }
        }
        CheckBox.push({
            ProductId: e.name.substring(e.name.indexOf('pid:') + 4),
            TechnicalParameters: e.name.substring(0, e.name.indexOf('pid:')),
            value: e.value,
            checked: true,
        });
    }
</script>